<div class="header user-header">
  <a href="#" class="user-menu-toggle">
    <img src="<%= avatar_url_for(current_user, :size => 25) %>"/>
    <%= current_user.full_name_or_username %>

    <i class="fa fa-chevron-down"></i>
  </a>
  <ul class="user-menu">
    <li>
      <%= link_to admin_root_path if current_user.is_admin? do%>
        <i class="fa fa-cog"></i> Admin console
      <% end %>
    </li>
    <li>
      <%= link_to users_edit_path do %>
        <i class="fa fa-user"></i>  Edit Account
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <i class="fa fa-power-off"></i>  Logout
      <% end %>
    </li>
    <li><%= link_to 'About Kandan', about_path %></li>
  </ul>
</div>
<div class="widgets"></div>
