<div class="devise">
  <h3 class="heading"><%= t('sessions.title') %></h3>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => :form) do |f| %>
    <div class="form-group">
      <%= label_tag :username, t('sessions.username'), :class => "control-label" %>
      <%= f.text_field :username,  :autofocus => true, :placeholder => 'jsmith', :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, t('sessions.password'), :class => "control-label" %>
      <%= f.password_field :password, :class => "form-control"%>
    </div>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"><%= t('sessions.rememberme') %>
    </label>
    <%= f.submit t('sessions.submit'),  :class => "btn  btn-primary" %>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
</div>
