<h2><%= t('devise.confirmations.resend_confirm.head') %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t('devise.confirmations.resend_confirm.button') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
