<% content_for :header do %>
  <%= link_to content_tag(:i, nil, class: 'icon-angle-left'), root_path, class: 'button left' %>
<% end %>

<div class="devise">
  <h3 class="heading">Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.email_field :email %>
    <div class="note"><i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password ,  :placeholder => 'New Password' %>
    <%= f.password_field :password_confirmation,  :placeholder => 'New Password Confirm'  %>
    </div>
    <div class="note"><i>(Avatar URL replaces your gravatar image)</i>
    <%= f.url_field :avatar_url,  :placeholder => 'Avatar URL' %>
    </div>
    <div class="note"><i>(Enter your current password to confirm your changes)</i>
    <%= f.password_field :current_password,   :placeholder => 'Current  Password' %>
    </div>
    <p><%= f.submit "Update" ,   :class => "btn  btn-primary"  %>&nbsp;<%= link_to "Cancel my account", registration_path(resource_name),   :class => "btn  btn-danger", :confirm => "Are you sure you want to delete your account?", :method => :delete %></p>
  <% end %>
</div>
