<div class="devise">
  <h3 class="heading">Register an Account</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :first_name,  :placeholder => 'First Name' %>
    <%= f.text_field :last_name,  :placeholder => 'Last Name' %>
    <%= f.email_field :email,  :placeholder => 'Email Address' %>
    <%= f.text_field :username,  :placeholder => 'Username' %>
    <%= f.password_field :password,  :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation,  :placeholder => 'Password Confirmation' %>
    <p><%= f.submit "Register",   :class => "btn  btn-primary" %></p>
  <% end %>
  <p><%= render :partial => "devise/shared/links" %></p>
</div>
