<% show_admin_column = defined?(show_admin) && show_admin ? true : false%>
<table <%= inline_style_hidden(users.empty?)%> class="table table-striped table-bordered" cellspacing="0" cellpadding="0" border="0">
	<thead>
		<tr>
			<th class="username">Username</th>
			<th class="first_name">First Name</th>
			<th class="last_name">Last Name</th>
			<th class="email">Email</th>
			<th class="statu">Status</th>
			<th class="action">Action</th>
			<th class="admin" <%= inline_style_hidden( !show_admin_column ) %> >Admin</th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr class="<%= cycle('odd', 'even')%>" data-user-id="<%= user.id%>" data-full-name="<%= user.full_name_or_username %>">
				<td class="username">
					<%= user.username %>
				</td>
				<td class="first_name">
					<%= user.first_name %>
				</td>
				<td class="last_name">
					<%= user.last_name %>
				</td>
				<td class="email">
					<%= user.email %>
				</td>
				<td class="status">
					<%= user_registration_status(user) %>
				</td>
				<td class="action">
					<%= user_action(user) %>
				</td>
				<td class="admin" <%= inline_style_hidden( !show_admin_column ) %>>
					<input type="checkbox" <%=  "checked" if user.is_admin? %> />
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="js-no-users" <%= inline_style_hidden(users.any?)%> >There are no users. Invite others to join Kandan!</div>