<aside class="sidebar">
  <a href="#" class="user_menu_link">
      <cite class="user_flag"></cite>
      <div class="user">
        <img src="<%= avatar_url_for(current_user, :size => 25) %>"/>
        <span><%= current_user.full_name_or_username %></span>
      </div>
  </a>
  <div class="user_menu">
    <%= link_to 'Admin console', admin_root_path, :target => "_blank" if current_user.is_admin? %>
    <%= link_to 'Edit Account', users_edit_path, :target => "_blank" %><br />
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %><br />
    <hr>
    <%= link_to 'About Kandan', about_path, :target => "_blank" %>
  </div>
  <!-- <%= yield :sidebar %> -->
</aside>
