<!DOCTYPE html>
<html>
<head>
  <title>Kandan</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>

  <%- Kandan::Config.broadcaster.assets.each do |asset| %>
    <%= javascript_include_tag asset %>
  <%- end %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
